.grid {
  width: 500px;
  height: 500px;
  border: solid black 3px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.impShip {
  background-color: purple;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
 
}

.rebel {
  background-color: #fa6900;
}

.laser {
  background-color: greenyellow;
}

.boom {
  background-color: red;
  border-radius: 50px;
}
